future~=0.18.2
Pillow~=9.1.0
pip~=21.3.1
wheel~=0.37.1
requests~=2.27.1
colorama~=0.4.4
yarg~=0.1.9
certifi~=2021.10.8
docopt~=0.6.2
pipreqs~=0.4.11
altgraph~=0.17.2
openpyxl~=3.0.9
idna~=3.3
urllib3~=1.26.9
pefile~=2021.9.3
setuptools~=60.2.0
ttkbootstrap~=1.7.4
pyinstaller~=5.0